.loginContainer {
  display: flex;
  height: calc(100vh - 80px);
}
.leftSection {
  flex: 2;
  background-image: url("https://w.forfun.com/fetch/6c/6c0cf748db116fabaa70199a35327258.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightSection {
  flex: 1;
  background-color: #f0f6ff;
}

.login {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.login__title {
  font-size: 50px;
}

.login__link {
  text-decoration: none;
}
.link__text {
  color: #b29f7e;
}

@media screen and (max-width: 768px) {
  .leftSection {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .login__title {
    font-size: 40px;
  }
}
