.registerContainer {
  display: flex;
  height: calc(100vh - 80px);
}
.leftSection {
  flex: 2;
  background-image: url("https://w.forfun.com/fetch/27/272e376c421357aef581098ea2e12a29.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightSection {
  flex: 1;
  background-color: #f0f6ff;
}

.register {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.register__link {
  text-decoration: none;
}
.link__text {
  color: #b29f7e;
}

@media screen and (max-width: 768px) {
  .leftSection {
    display: none;
  }
}
