.content {
  background-color: #f2f2f2;
}
.content__title {
  color: #b29f7e;
  font-size: 28px;
  margin: 0px;
  padding: 50px;
  text-align: center;
}
.content__items {
  width: 100%;
}
.items {
  padding: 0px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .items {
    padding: 0px 20px;
  }
}
@media screen and (max-width: 480px) {
  .items {
    padding: 0px 20px;
  }
}
