.home {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  background-image: url("https://w.forfun.com/fetch/a2/a2517c612d33ca455b5447149eceff81.jpeg?w=1470&r=0.5625");
  background-size: cover;
  background-position: center;
  position: relative;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.home__content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  color: #fff;
  text-align: center;
}

.home__title {
  margin: 0px;
  font-size: 64px;
  font-weight: bold;
}
.home__subtitle {
  font-size: 24px;
}
